header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    width: 100%;
    padding: 20px;
    color: white;
    text-align: left;  
    position: absolute; 
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1d4d29;
    background-image: url('../imgs/corvette.avif'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;
}
/* Centrar el formulario en la pantalla */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center;
    gap: 10px; /* Espaciado entre los elementos */
}

/* Barra de búsqueda */
form input[type="text"] {
    padding: 5px; /* Más espacio interior */
    font-size: 20px; /* Fuente más grande */
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 400px; /* Más ancha */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

/* Botones */

form button {
    padding: 5px 5px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 150px; /* Ancho uniforme */
    text-align: center;
}

/* Botón de buscar */
form button[type="submit"] {
    background-color:rgba(90, 176, 197, 0.753); /* Azul */
    color: white;
}

form button[type="submit"]:hover {
    background-color: #0056b3; /* Azul oscuro */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

/* Botón de borrar */
form button[type="reset"] {
    background-color: #be4f5a; /* Rojo */
    color: white;
    margin-top: 10px; /* Separación del botón superior */
}

form button[type="reset"]:hover {
    background-color: #b02a37; /* Rojo oscuro */
    transform: scale(1.05); /* Efecto de agrandamiento */
}


/* Footer */
footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}