body {
    font-family: Arial, sans-serif;
    background-position: center;
    height: 90vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/audi.webp');
    background-size: cover;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    margin-top: 200px; /* Aumenta el espacio desde el header */
    padding: 50px; /* Opcional: Añade un relleno interno */
}

/* Estilo del cuestionario */
.contenedor h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #b64f4f;
}
.contenedor form {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
    gap: 10px; /* Espaciado entre las filas */
}

.contenedor form .form-row {
    display: flex;
    align-items: center; /* Centra verticalmente el label y el campo */
    gap: 5px; /* Espaciado entre el label y el campo */
    width: 100%; /* Ocupa todo el ancho */
}

.contenedor input[type="text"],
.contenedor input[type="password"],
.contenedor input[type="email"],
.contenedor input[type="submit"],
.contenedor input[type="date"],
.contenedor input[type="adress"],
.contenedor select {
    flex: 1; /* Hace que el campo ocupe el espacio restante */
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedor label {
    font-size: 16px;
    color: #e90e0e;
    flex: 0; /* Evita que el label se expanda */
    white-space: nowrap; /* Mantiene el texto en una sola línea */
}

.contenedor input[type="submit"] {
    background-color: #b64f4f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; /* Botón ocupa todo el ancho */
}

.contenedor button {
    padding: 3px 3px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    background-color: rgb(204, 147, 147);
    color: white;
    align-self: center;
}

.contenedor button:hover {
    background-color: rgb(204, 30, 30);
    transform: scale(1.05);
}

.contenedor a {
    text-decoration: underline;
    color: blue;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}
