/* Estilo del header */
header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    width: 100%; /* Ocupa todo el ancho */
    padding: 20px;
    color: white;
    text-align: left;
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Alineado al borde superior */
    left: 0; /* Alineado al borde izquierdo */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Espaciado entre título y botón */
    align-items: center; /* Alineación vertical */
}

/* Añade un margen superior al contenido de la página */
body {
    margin-top: 80px; /* Ajusta el espacio según la altura del header */
}

/* Botón del logo */
.logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Estilo del icono del logo */
.logo-icon {
    width: 50px; /* Tamaño del icono */
    height: 50px;
    object-fit: cover;
    transition: transform 0.3s;
}

.logo-button:hover .logo-icon {
    transform: scale(1.1); /* Efecto de agrandamiento */
}
