

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
  }
  
  .search-bar {
    width: 50%;
    max-width: 70%;
    padding: 1%;
    font-size: 12px;
    border-radius: 3%;
    border: 1px solid #044200;
    margin-right: 2%;
    background-color: aliceblue;
  }
  
  .search-button {
    padding: 1%;
    background-color: #017631;
    color: white;
  }